/*-------------*/
/*--RESET ALL--*/
/*-------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*-------------------------------*/

img {
    max-width: 100%;
    height: auto;
}
h1 {
    font-size: 3em;
    line-height: 48px;
    padding: 148px 0 54px;
    font-weight: bold;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 18px;
    text-transform: uppercase;
}

.central-text {
    font-size: 18px;
    line-height: 26px;
}

.all {
    font-family: "Titillium Web";
    text-align: center;
    font-size: 100%;
}

.cuda {
    background-color: #87509c;
    color: white;
    padding-top: 57px;
    padding-bottom: 145px;
}

.container {
    margin: 0 auto;
    max-width: 1033px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.buttons {
    vertical-align: top;
}

.buttons li {
    cursor: pointer;
    display: inline-block;
    height: 32px;
    width: 77px;
    font-size: 16px;
    line-height: 38px;
    border-radius: 3px;
    margin: 0 5px;
}

.buttons li:hover {
    background-color: #643a79;
}

.buttons li:first-of-type {
    background-color: #643a79;
}

.cuda-botton {
    border: 0px;
    color: white;
    height: 70px;
    width: 293px;
    background-color: #eb7d4b;
    border-radius: 3px;
    border-bottom: 4px solid #c86a40;
    cursor: pointer;

}

.cuda-botton:hover {
    background: #c86a40;
}

/*
-------------------------------------------
*/
.services {
    background-color: #17c2a4;
    padding: 119px 0 128px;
    color: white;
}

.services h2 {
    padding-bottom: 22px;
}

.devider-services {
    width: 87px;
    height: 4px;
    background-color: #14a58c;
    margin: 0 auto;
    margin-bottom: 24px;
}

.services-provide li {
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    margin: 79px 48px 0 48px;
}

.services h3 {
    margin: 61px 0 21px;
}

/*
-------------------------------------------
*/
.team {
    background-color: #e7f1f8;
    padding: 120px 0 127px;
}

.team h2 {
    margin-bottom: 23px;
    color: #3c4761;
}

.team .devider {
    width: 87px;
    height: 4px;
    background-color: #c8d9e5;
    margin: 0 auto;
    margin-bottom: 25px;
}

.team .central-text {
    color: #3c4761;
}

.team-list li {
    display: inline-block;
}

.team-foto {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: #878787;
    margin-top: 79px;

}

.team h3 {
    margin: 42px 0 16px;
    color: #27283d;
}

.team-profession {
    font-size: 16px;
    line-height: 18px;
    color: #30bae7;
    margin-bottom: 27px;

}

.team-text {
    font-size: 16px;
    line-height: 24px;
    color: #3c4761;
    padding-bottom: 31px;

}

.team .soc {
    margin: 0 20px 0 20px;
}

.team .soc a {
    margin: 0 3px 0 3px;
    cursor: pointer;
}

/*
-------------------------------------------
*/
.skills {
    background-color: #ffffff;
    padding: 117px 0 122px;
}

.skills h2 {
    color: #3c4761;
    margin-bottom: 21px;
}

.skills-devider {
    height: 4px;
    width: 87px;
    background-color: #dfe8ed;
    margin: 0 auto;
}

.skills .central-text {
    margin: 25px 0 85px;
    color: #3c4761;
}

.skills li {
    display: inline-block;
    margin: 0 30px 0 30px;
}

.skills li p {
    text-transform: uppercase;
    margin-top: 32px;
    font-size: 24px;
    line-height: 18px;
    font-weight: bold;
    color: #3c4761;
}

/*
-------------------------------------------
*/
.portfolio {
    background-color: #ffdd99;
    padding: 120px 0 109px;
}

.portfolio h2 {
    color: #393939;
    margin-bottom: 22px;
}

.devider-portfolio {
    height: 4px;
    width: 87px;
    margin: 0 auto;
    background-color: #e5c37f;
}

.portfolio .central-text {
    color: #393939;
    margin: 24px 0 43px;
}

.portfolio-menu li {
    font-size: 18px;
    line-height: 38px;
    text-transform: uppercase;
    width: 84px;
    height: 38px;
    background: #ebc985;
    display: inline-block;
    border-radius: 3px;
    margin: 0 5px 62px 5px;
}

.portfolio-menu li:hover {
    background: #fff;
}

.portfolio-menu li:first-of-type {
    background: #fff;
}

.notebook li {
    margin: 0 10px 0 10px;
    display: inline-block;
}

}
.notebook p {
    margin: 29px 0 65px;
    font-size: 18px;
    line-height: 20px;
    color: #393939;
    text-transform: uppercase;
}

.portfolio button {
    border: 0px;
    color: #fff;
    background: #17c2a4;
    width: 293px;
    height: 66px;
    border-radius: 4px;
    cursor: pointer;
    border-bottom: 4px solid #14a58c;
    font-size: 18px;
    line-height: 66px;
    text-transform: uppercase;
    margin-top: 18px;
}

.portfolio button:hover {
    background: #14a58c;
}

/*
-------------------------------------------
*/
.people-say {
    background-color: #d74680;
    padding: 119px 0 128px;
    color: #fff;
}

.people-say h2 {
    margin-bottom: 21px;
}

.devider-people {
    width: 87px;
    height: 4px;
    background: #b73c6d;
    margin: 0 auto;
}

.people-say .central-text {
    padding: 24px 0 71px;
}

.people {
    border: 0px;
    width: 96px;
    height: 96px;
    border-radius: 48px;
    background-color: #787878;
    vertical-align: top;
    margin-right: 48px;
    float: left;
}
@media screen and (max-width: 590px) {
    body .people-say li {
        max-width: 75%;
    }
    body .people-say .people{
        float: none;
        margin: 0;
        text-align: center;
    }
   body .people-say .comment {
        text-align: center;
    }
    body .people-say .text {
        display:block;
        text-align: center;
    }
    .container{
        display: inline-block;
    }
    .cuda, .services, .team, .skills, .portfolio, .people-say, .message {
        padding: 40px 0;
    }
}

.people-say li {
    width: 496px;
    text-align: left;
    margin: 0px 40px 142px 40px;
    display: inline-block;
}

.people-say div {
    text-align: left;
    display: inline-block;
}

.people-say .comment {
    font-size: 21px;
    line-height: 31px;
    font-style: italic;
    text-align: left;
}

.people-say .name {
    padding-top: 28px;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 26px;
    font-weight: bold;
    
}

.people-say .status {
    font-size: 18px;
    line-height: 26px;
    color: #ffdd99;

}

/*
-------------------------------------------
*/
.message {
    background-color: #3c5499;
    padding: 120px 0 114px;
    color: #fff;
}

.message h2 {
    margin-bottom: 22px;
}

.devider-message {
    width: 87px;
    height: 4px;
    background: #273a71;
    margin: 0 auto;
}

.message .central-text {
    margin: 22px 0 69px;
}

.message .your-name, .email {
    font-size: 18px;
    line-height: 56px;
}

.message .type-message {
    font-size: 18px;
    line-height: 24px;
    text-align: start;
}

.message #form-name, #form-email {
    
    padding: 0 14px;
    margin-bottom: 27px;
    border: 0px;
    border-radius: 3px;
    width: 414px;
    height: 56px;
    background-color: #273a71;
}

.message #your-message {
    padding: 24px 0 162px 27px;
    width: 860px;
    height: 38px;
    background-color: #273a71;
    border: 0px;
    border-radius: 3px;
}

@media screen and (max-width: 865px) {
    body .message .your-name, .email, .type-message, .submit {
        max-width: 90%;
    }
    body button {
        max-width: 100%;
    }
    
}
.message .submit {
    text-transform: uppercase;
    color: #fff;
    border: 0;
    background-color: #30bae7;
    margin-top: 59px;
    width: 293px;
    height: 66px;
    font-size: 18px;
    line-height: 66px;
    border-radius: 3px;
    border-bottom: 4px solid #299ec5;
    cursor: pointer;
}

.message .submit:hover {
    background-color: #299ec5;
}
/* .message-form {
    max-width: 1100px;
} */
.footer {
    background: #344b8e;
}

.footer li {
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
    padding: 48px 29px 40px 29px;
    display: inline-block;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    color: #30bae7;
    text-decoration: none;
}

.footer a:visited {
    color: #30bae7;
    text-decoration: none;
}

/*
-------------------------------------------
*/
@media (max-width: 420px){
    h1, h2 {
        font-size: 150%;
        line-height: 150%;
        padding: 50px 0;
    }
    h3 {
        font-size: 130%;
    }
     central-text, p{
        font-size: 100%;
        line-height: 150%;
        
    }
    
    body button {
        max-width: 50%;
    }
}